<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PetHub</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="pink lighten-5">
        <main class="container center">
            <h1>PetHub</h1>

            <p>App para cadastrar seus pets e marcar consultas veterinárias</p>

            <a href="/oauth2/authorization/github" class="btn">entrar com GitHub</a>
        </main>

    </body>
</html>